coverage
flake8
mock
pip-tools
pycodestyle
pyflakes
pylint
pytest
pytest-cov
pytest-runner
pywin32

# This will use the current directory's dependencies i.e. the package dependencies from setup.py
-e .
